@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');
*{
  box-sizing: border-box;
}

html {
min-height: 100vh;
}

body {
 margin: 0;
 background-color: crimson;
 color:#fff;
 font-size: 1rem;
}

.page-title{
  font-family:"Open-Sans", serif;
  font-weight: 600;
  font-size: xx-large;
  text-align: center;
}
.game-info{
  font-size: 2rem;
  font-family: cursive;
}
.game-info-conainer{
  grid-column: 1/-1;
  display:flex;
  justify-content: space-between;
}
.game-container{
  display:grid;
  grid-template-columns: repeat(3, auto);
  grid-gap:2vmin;
  margin: 50px;
  justify-content: center;
  perspective: 500px;
}
.card{
  position: relative;
  width: 125px;
  height: 175px;
  overflow: hidden;
  border-radius: 12px;

  
}
.card-front{
  transform: rotateY(180deg);
  background-color: ivory;
}
.card-back{
  background: linear-gradient(to top, yellow, orange);
}
.card-face{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
  border-radius: 12px;
  backface-visibility: hidden;
}
